/* --- manual --- */

.manual-user-index {
  margin-bottom: 1em;
  border-bottom: solid 1px #ddd;

  display: none; // just an idea! remove this part from the "Manual" page...
}

.manual-cards {
  font-size: 0; // remove the 4px space between inline-block elements
}

.manual-card-wrap {
  display: inline-block;
  width: 30.333333%;
  margin: 0 3% 3% 0;
  box-sizing: border-box;
  border-radius: @border-radius;
  border: 1px solid #ddd;
  overflow: hidden;
  font-size: @font-size-lg; // restore font-size
  transition: box-shadow 1s ease;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  > h1 {
    margin: 0;
    padding: @padding-v @padding-h;
    border-bottom: 1px solid #fff;
    font-size: 1em;
    font-weight: bold;

    span {
      color: @color-base;
    }
  }

  @media (max-width: (@screen-md - 1)) {
    font-size: @font-size-md;
  }

  @media (max-width: (@screen-sm - 1)) {
    width: 97%;
  }
}

.manual-card {
  position: relative;
  height: 200px;
  padding: 8px;

  > div {
    overflow: hidden;
    width: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
    transition: transform 2s ease;
  }

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.5);
    transition: background-color 1s ease;
    text-decoration: none;
  }

  &:hover {
    > div {
      transform: scale(0.54);
    }
    > a {
      background-color: transparent;
    }
  }
}

//.manual-root .navigation {
//  padding-left: 4px;
//  margin-top: 4px;
//}

//.navigation .manual-toc {
//  margin-top: -0.25em;
//}

//.navigation .manual-toc-root > div {
//  padding-top: 1px;
//  padding-left: 0.25em;
//  padding-right: 0.75em;
//}

.manual-breadcrumb-list {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.manual-toc-title a:hover {
  color: #039BE5;
}

.manual-toc li {
  margin: 0.75em 0;
  list-style-type: none;
}

.navigation .manual-toc [class^="indent-h"] a {
  color: #666;
}

.navigation .manual-toc .indent-h1 a {
  color: #555;
  font-weight: 600;
  display: block;
}

.manual-toc .indent-h1 {
  display: block;
  margin: 1em 0 0 0.25em;
  padding: 0.2em 0 0.2em 0.5em;
  border-radius: 0.1em;
}
.manual-toc .indent-h2 {
  display: none;
  margin-left: 1.5em;
}
.manual-toc .indent-h3 {
  display: none;
  margin-left: 2.5em;
}
.manual-toc .indent-h4 {
  display: none;
  margin-left: 3.5em;
}
.manual-toc .indent-h5 {
  display: none;
  margin-left: 4.5em;
}

.manual-color {
  position: relative;
}

.manual-color:after {
  content: attr(data-section-count);
  font-size: 0.5em;
  opacity: 0.5;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.manual-color-overview,
.manual-color-design {
  color: #db001e;
  background-color: #edbec3;
}

.manual-color-installation,
.manual-color-tutorial,
.manual-color-usage,
.manual-color-configuration,
.manual-color-advanced {
  color: #009800;
  background-color: #bfe5bf;
}

.manual-color-example {
  color: #eb6420;
  background-color: #fad8c7;
}

.manual-color-reference {
  color: #6b0090;
  background-color: #d6bdde;
}

.manual-color-faq,
.manual-color-changelog {
  color: #0738c3;
  background-color: #bbcbea;
}

.manual-nav li {
  margin: 0.75em 0;
}

/*.github-markdown .manual-toc {
  padding-left: 0;
}

.github-markdown .manual-toc-title a {
  color: inherit;
}*/
