/* --- text --- */

html {
  font-family: @font-family;
  font-size: @font-size-lg;
  color: @color-base;

  @media (max-width: (@screen-md - 1)) {
    font-size: @font-size-md;
  }
}

a {
  color: @color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;  
  }
}

h1 {
  margin: (@space-text * 2) 0 @space-text 0;
  border-bottom: solid 1px #ddd;
  font-size: 2.25rem; // 36px
  font-weight: 300;
}

h2 {
  margin: (@space-text * 2) 0 @space-text 0;
  font-size: 1.5rem; // 24px
  border-bottom: solid 1px #ddd;
  font-weight: 300;
}

h3 {
  position: relative;
  margin: (@space-text * 2) 0 @space-text 0;
  border-radius: @border-radius;
  background-color: #eee; // #fcf8e3;
  padding: 0.5em 1em;
  font-size: 1rem; // 16px
  font-weight: 300;
}

h4 {
  margin: (@space-text * 2) 0 0.25rem 0;
  font-size: 1.125rem; // 18px
  font-weight: 300;
  color: darken(@color-link, 15%); // optional
}

p {
  margin: @space-text 0;
  line-height: 1.5rem;
  font-size: 1rem; // 16px
}

ul, ol {
  margin: @space-text 0;
  padding-left: 1.25em; // 20px
}

li {
  margin: 0.25em 0; // 4px
}

code {
  padding: 0 0.25em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 0.875em; // 14px

  a {
    text-decoration: underline;
  }
}

pre code {
  border: none;
  background-color: transparent;
  font-size: 1em;
}

pre > code {
  display: block;
  overflow: auto;
  margin: @space-text 0;
  padding: 0.5em;
  border-radius: @border-radius;
  background-color: #f5f5f5;
  font-size: 0.875em; // 14px
}

table {
  margin: 1rem 0;
  border-collapse: collapse;
  border: 1px solid transparent;
}

th,
td {
  padding: 0.25em 0.5em;

  p,
  ol,
  ul {
    margin: 0.25em 0;
  }
}

thead {
  font-weight: bold;
}

tbody {
  tr {
    border: 1px solid #d8d8d8;
    background-color: #fff;

    &:nth-child(even) {
      background-color: #f8f8f8;
    }
  }

  th,
  td {
    border-right: 1px dotted #d8d8d8;

    &:last-child {
      border-right: none;
    }
  }
}

// TODO: Move this into custo.less
.esdoc-table {
  margin-bottom: @space-text;
  overflow: auto;

  table {
    margin: 0;
    min-width: 100%;
  }
}
