/* --- text --- */

html {
  font-size: @font-size-lg;
  font-family: @font-family;
  color: @color-base;

  @media (max-width: (@screen-md - 1)) {
    font-size: @font-size-md;
  }
}

a {
  color: @color-link;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;  
  }
}

hr {
  margin: (@text-space * 2) 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

h1, h2, h3 {
  margin: (@text-space * 2) 0 @text-space 0; // (*) default margin of a section heading
  font-weight: 300;
}

h1 {
  padding-bottom: 0.1em;
  border-bottom: solid 1px #ddd;
  line-height: @line-height - @line-height-x * 4;
  font-size: 2.25rem; // 36px (based on @font-size-lg = 16px)
}

h2 {
  padding-bottom: 0.1em;
  border-bottom: solid 1px #ddd;
  line-height: @line-height - @line-height-x * 3;
  font-size: 1.5rem; // 24px
}

h3 {
  line-height: @line-height - @line-height-x * 2;
  font-size: 1.3125rem; // 20px
}

h4 {
  margin: (@text-space * 2) 0 0.25rem 0; // (*) special margin of a paragraph heading
  line-height: @line-height - @line-height-x * 1;
  font-size: 1.125rem; // 18px
  font-weight: bold;
  //color: darken(@color-link, 15%); // optional
}

p, ul, ol, pre, table {
  margin: 0 0 @text-space 0; // default margin of a paragraph like
  line-height: @line-height;
}

p {
  font-size: 1rem; // 16px
}

ul, ol {
  padding-left: 2.5em;
}

pre, code {
  font-size: 0.8125rem; // 13px
  font-family: Consolas, monaco, monospace;  
}

pre code, // use case
code code, pre pre, code pre { // just to handle other markup
  font-size: 1em;
}

code {
  padding: 0.15em 0.45em;
  border-radius: @border-radius;
  //border: 1px solid rgba(0, 0, 0, 0.07); // optional
  background-color: rgba(0, 0, 0, 0.07);

  a {
    text-decoration: none !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  }
}

pre {
  overflow: auto;

  > code {
    display: block;
    overflow: auto;
    padding: @padding-v @padding-h;
  }

  > * code {
    padding: 0;
    border: none;
    background: none;
  }
}

table {
  border-collapse: collapse;
  border: 1px solid transparent;
}

th, td {
  padding: @padding-v @padding-h;
  vertical-align: top;
}

thead {
  font-weight: bold;
}

tbody {
  tr {
    border-width: 1px 0;
    border-style: solid;
    border-color: #d8d8d8;
    background-color: #fff;
    transition: background-color 0.25s ease;

    &:nth-child(even) {
      background-color: #f8f8f8;
    }

    &:hover {
      background-color: #fcf8e3;
    }
  }

  th, td {
    border-right: 1px dotted #d8d8d8;

    &:last-child {
      border-right: none;
    }
  }
}
