/* --- tmp --- */

/*
pre.prettyprint, pre > code { // FIXME: inconsitence des selecteurs...
  padding: 4px;
  margin: 1em 0;
  background-color: #f5f5f5;
  border-radius: 3px;
}

pre.prettyprint > code {
  margin: 0;
}
*/

p > code,
li > code {
  padding: 0.2em 0.5em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.import-path pre.prettyprint,
.import-path pre.prettyprint code {
  margin: 0;
  padding: 0;
  border: none;
  background: white;
}

h1 .version,
h1 .url a {
  font-size: 14px;
  color: #aaa;
}


.expression-extends .prettyprint {
  margin-left: 10px;
  background: white;
}

.extends-chain {
  border-bottom: 1px solid#ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.extends-chain span:nth-of-type(1) {
  padding-left: 10px;
}

.extends-chain > div {
  margin: 5px 0;
}

// .description


// .summary

.member, .method {
  margin-bottom: 24px;
}

// .params



.return-param * {
  display: inline;
}

.argument-params {
  margin-bottom: 20px;
}

.return-type {
  padding-right: 10px;
  font-weight: normal;
}

.return-desc {
  margin-left: 10px;
  margin-top: 4px;
}

.return-desc p {
  margin: 0;
}

.deprecated, .experimental, .instance-docs {
  border-left: solid 5px orange;
  padding-left: 4px;
  margin: 4px 0;
}

tr.listen p,
tr.throw p,
tr.emit p{
  margin-bottom: 10px;
}

.version, .since {
  color: #aaa;
}


.version + .since:before {
  content: '| ';
}

.see {
  margin-top: 10px;
}

.see h4 {
  margin: 4px 0;
}

.content .detail h4 + .example-doc {
  margin: 6px 0;
}

.example-caption {
  position: relative;
  bottom: -1px;
  display: inline-block;
  padding: 4px;
  font-style: italic;
  background-color: #f5f5f5;
  font-weight: bold;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.example-caption + pre.source-code {
  margin-top: 0;
  border-top-left-radius: 0;
}


// .test-summary

.inner-link-active {
    background: rgb(255, 255, 150);
  }

/** manual */

/*.github-markdown .manual-toc {
  padding-left: 0;
}*/

/* github markdown */
/*.github-markdown {
  font-size: 16px;
}

.github-markdown h1,
.github-markdown h2,
.github-markdown h3,
.github-markdown h4,
.github-markdown h5 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  padding: 0;
}

.github-markdown h1:nth-of-type(1) {
  margin-top: 0;
}

.github-markdown h1 {
  font-size: 2em;
  padding-bottom: 0.3em;
}

.github-markdown h2 {
  font-size: 1.75em;
  padding-bottom: 0.3em;
}

.github-markdown h3 {
  font-size: 1.5em;
  background-color: transparent;
}

.github-markdown h4 {
  font-size: 1.25em;
}

.github-markdown h5 {
  font-size: 1em;
}

.github-markdown ul, .github-markdown ol {
  padding-left: 2em;
}

.github-markdown pre > code {
  font-size: 0.85em;
}

.github-markdown table {
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

.github-markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.github-markdown table th,
.github-markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.github-markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.github-markdown hr {
  border-right: 0;
  border-bottom: 1px solid #e5e5e5;
  border-left: 0;
  border-top: 0;
}*/

/** badge(.svg) does not have border */
/*.github-markdown img:not([src*=".svg"]) {
  max-width: 100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}*/
