
p > code,
li > code {
  padding: 0.2em 0.5em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

h1 .version,
h1 .url a {
  font-size: 14px;
  color: #aaa;
}

.expression-extends .prettyprint {
  margin-left: 10px;
  background: white;
}

.extends-chain {
  border-bottom: 1px solid#ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.extends-chain span:nth-of-type(1) {
  padding-left: 10px;
}

.extends-chain > div {
  margin: 5px 0;
}

// .summary

.member, .method {
  margin-bottom: 24px;
}

// .params

.return-param * {
  display: inline;
}

.argument-params {
  margin-bottom: 20px;
}

.return-type {
  padding-right: 10px;
  font-weight: normal;
}

.return-desc {
  margin-left: 10px;
  margin-top: 4px;
}

.return-desc p {
  margin: 0;
}


tr.listen p,
tr.throw p,
tr.emit p{
  margin-bottom: 10px;
}

.version, .since {
  color: #aaa;
}

.version + .since:before {
  content: '| ';
}

.see {
  margin-top: 10px;
}

.see h4 {
  margin: 4px 0;
}

.content .detail h4 + .example-doc {
  margin: 6px 0;
}
