@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700);

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  color: #555;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-size: 14px;*/
}

a {
  color: #039BE5;
  text-decoration: none;
}

/* --- layout --- */

html,
body,
body > .layout-container {
  height: 100%;
}

.layout-container {
  position: relative;
  overflow: hidden;
}

.layout-container > header {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 40px;
  line-height: 39px;
  font-size: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
}

.navbar,
.navbar a {
  padding: 0 7px;
}

.navbar a {
  display: inline-block;
  color: #444;
}

.navbar > * {
  display: inline-block;
}

.navbar > .navbar-burger,
.navbar > .navbar-menu,
.navbar a.repo-url-github {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
  width: 24px;
  font-size: 0;
  vertical-align: top;
}

.navbar .navbar-burger {
  display: none;
  background-image: url("../image/list.png");
}

.navbar .navbar-menu {
  display: none;
  background-image: url("../image/down.png");
}

.navbar a.repo-url-github {
  background-image: url("../image/github.png");
}

.menu {
  font-size: 0; /* remove the space of 4px inline-block items */
}

.menu a {
  font-size: 16px; /* restore font-size */
  transition: background-color 0.4s ease, color 0.4s ease;
}

.menu a:hover {
  /*background-color: #f3f3f3;*/ /* optional */
  color: #039BE5;
}

.navigation {
  position: absolute;
  z-index: 2;
  top: 40px;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 250px;
  padding: 15px 0 2em 10px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  transition: left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.main {
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 250px;
  overflow: hidden;
  background-color: #fafafa; /* it's the footer background */
  transition: left 0.3s ease-in-out;
}

.main:after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  right: 99999px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: right 0s linear 0.3s, opacity 0.3s ease-in-out;
  display: none;
}

.main > * {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  padding: 15px 20px 2em 20px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .responsive .navbar-burger,
  .responsive .navbar-menu {
    display: inline-block !important;
    transition: opacity 0.3s ease-out;
  }

  .responsive .menu {
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px  5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    top: 36px;
    left: -99999px;
    opacity: 0;
    transition: left 0s linear 0.3s, opacity 0.3s ease-out;
  }

  .responsive .menu a {
    display: block;
    padding: 0px 6em 0px 14px;
  }

  .responsive .navigation {
    left: -250px;
  }

  .responsive .main {
    left: 0;
  }

  .responsive .main:after {
    display: block;
  }

  body.responsive.menu-open .menu {
    left: 40px;
    opacity: 0.96;
    transition: left 0s linear, opacity 0.3s ease-out;
  }

  body.responsive.navigation-open .menu {
    left: -99999px;
    opacity: 0;
    transition: left 0s linear 0.3s, opacity 0.3s ease-out;
  }

  body.responsive.navigation-open .navbar-menu {
    opacity: 0.25;
  }

  body.responsive.navigation-open .navigation {
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  }

  body.responsive.navigation-open .main:after {
    right: 0;
    opacity: 0.4;
    transition: right 0s linear, opacity 0.3s ease-in-out;
  }
}

@media (min-width: 1281px) {
  .responsive .layout-container {
    margin: 0 auto;
    width: 1280px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-width: 0 1px;
    border-style: solid;
    border-color: #ddd;
  }
}

/* --- /layout --- */

code a:hover {
  text-decoration: underline;
}

ul, ol {
  padding-left: 20px;
}

ul li {
  list-style: disc;
  margin: 4px 0;
}

ol li {
  margin: 4px 0;
}

h1 {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 300;
  border-bottom: solid 1px #ddd;
}

h2 {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: solid 1px #ddd;
  font-weight: 300;
}

h3 {
  position: relative;
  font-size: 16px;
  margin-bottom: 12px;
  background-color: #E2E2E2;
  padding: 4px;
  font-weight: 300;
}

del {
  text-decoration: line-through;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

pre > code {
  display: block;
  overflow: auto;
}

pre.prettyprint, pre > code {
  padding: 4px;
  margin: 1em 0;
  background-color: #f5f5f5;
  border-radius: 3px;
}

pre.prettyprint > code {
  margin: 0;
}

p > code,
li > code {
  padding: 0.2em 0.5em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.import-path pre.prettyprint,
.import-path pre.prettyprint code {
  margin: 0;
  padding: 0;
  border: none;
  background: white;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  list-style: none;
  margin: 4px 0;
  white-space: nowrap;
}

.navigation li a {
  color: #666;
}

.navigation .nav-dir-path {
  margin-top: 0.7em;
  margin-bottom: 0.25em;
  font-size: 0.8em;
  color: #aaa;
}

.kind-class,
.kind-interface,
.kind-function,
.kind-typedef,
.kind-variable,
.kind-external {
  margin-left: 0.75em;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  text-align: center;
  border-radius: 0.2em;
  margin-right: 0.3em;
  font-weight: bold;
}

.kind-class {
  color: #009800;
  background-color: #bfe5bf;
}

.kind-interface {
  color: #fbca04;
  background-color: #fef2c0;
}

.kind-function {
  color: #6b0090;
  background-color: #d6bdde;
}

.kind-variable {
  color: #eb6420;
  background-color: #fad8c7;
}

.kind-typedef {
  color: #db001e;
  background-color: #edbec3;
}

.kind-external {
  color: #0738c3;
  background-color: #bbcbea;
}

h1 .version,
h1 .url a {
  font-size: 14px;
  color: #aaa;
}

.header-notice {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}

.expression-extends .prettyprint {
  margin-left: 10px;
  background: white;
}

.extends-chain {
  border-bottom: 1px solid#ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.extends-chain span:nth-of-type(1) {
  padding-left: 10px;
}

.extends-chain > div {
  margin: 5px 0;
}

.table-wrapper {
  margin: 10px 0;
  overflow: auto;
}

.table-wrapper table {
  min-width: 100%;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

.description table {
  font-size: 14px;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

.description thead {
  background: #999;
  color: white;
}

.description table td,
.description table th {
  border: solid 1px #ddd;
  padding: 4px;
  font-weight: normal;
}

.flat-list ul {
  padding-left: 0;
}

.flat-list li {
  display: inline;
  list-style: none;
}

table.summary thead {
  background: #999;
  color: white;
}

table.summary td {
  border: solid 1px #ddd;
  padding: 4px 10px;
}

table.summary tbody td:nth-child(1) {
  text-align: right;
  white-space: nowrap;
  min-width: 64px;
  vertical-align: top;
}

table.summary tbody td:nth-child(2) {
  width: 100%;
  border-right: none;
}

table.summary tbody td:nth-child(3) {
  white-space: nowrap;
  border-left: none;
  vertical-align: top;
}

table.summary td > div:nth-of-type(2) {
  padding-top: 4px;
  padding-left: 15px;
}

table.summary td p {
  margin-bottom: 0;
}

.inherited-summary thead td {
  padding-left: 2px;
}

.inherited-summary thead a {
  color: white;
}

.inherited-summary .summary tbody {
  display: none;
}

.inherited-summary .summary .toggle {
  padding: 0 4px;
  font-size: 12px;
  cursor: pointer;
}
.inherited-summary .summary .toggle.closed:before {
  content: "▶";
}
.inherited-summary .summary .toggle.opened:before {
  content: "▼";
}

.member, .method {
  margin-bottom: 24px;
}

table.params thead {
  background: #eee;
  color: #aaa;
}

table.params td {
  padding: 4px;
  border: solid 1px #ddd;
}

table.params td p {
  margin: 0;
}

.content .detail > * {
  margin: 15px 0;
}

.content .detail > h3 {
  color: black;
  overflow: auto;
}

.content .detail > div {
  margin-left: 10px;
}

.content .detail > .import-path {
  margin-top: -8px;
}

.content .detail + .detail {
  margin-top: 30px;
}

.content .detail .throw td:first-child {
  padding-right: 10px;
}

.content .detail h4 + :not(pre) {
  padding-left: 0;
  margin-left: 10px;
}

.content .detail h4 + ul li {
  list-style: none;
}

.return-param * {
  display: inline;
}

.argument-params {
  margin-bottom: 20px;
}

.return-type {
  padding-right: 10px;
  font-weight: normal;
}

.return-desc {
  margin-left: 10px;
  margin-top: 4px;
}

.return-desc p {
  margin: 0;
}

.deprecated, .experimental, .instance-docs {
  border-left: solid 5px orange;
  padding-left: 4px;
  margin: 4px 0;
}

tr.listen p,
tr.throw p,
tr.emit p{
  margin-bottom: 10px;
}

.version, .since {
  color: #aaa;
}

h3 .right-info {
  position: absolute;
  right: 4px;
  font-size: 14px;
}

.version + .since:before {
  content: '| ';
}

.see {
  margin-top: 10px;
}

.see h4 {
  margin: 4px 0;
}

.content .detail h4 + .example-doc {
  margin: 6px 0;
}

.example-caption {
  position: relative;
  bottom: -1px;
  display: inline-block;
  padding: 4px;
  font-style: italic;
  background-color: #f5f5f5;
  font-weight: bold;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.example-caption + pre.source-code {
  margin-top: 0;
  border-top-left-radius: 0;
}

footer, .file-footer {
  text-align: right;
  font-style: italic;
  font-size: 13px;
  border-top: 1px solid #ddd;
  background-color: #fafafa;
  padding: 10px;
  padding-top: 40px;
}

footer img {
  width: 24px;
  vertical-align: middle;
  padding-left: 4px;
  position: relative;
  top: -3px;
  opacity: 0.6;
}

pre.source-code {
  background: #f5f5f5;
  padding: 4px;
}

pre.raw-source-code > code {
  padding: 0;
  margin: 0;
}

pre.source-code.line-number {
  padding: 0;
}

pre.source-code ol {
  background: #eee;
  padding-left: 40px;
}

pre.source-code li {
  background: white;
  padding-left: 4px;
  list-style: decimal;
  margin: 0;
}

pre.source-code.line-number li.active {
  background: rgb(255, 255, 150);
}

pre.source-code.line-number li.error-line {
  background: #ffb8bf;
}

table.files-summary {
  text-align: right;
}

table.files-summary tbody tr:hover {
  background: #eee;
}

table.files-summary td:first-child,
table.files-summary td:nth-of-type(2) {
  text-align: left;
}

table.files-summary[data-use-coverage="false"] td.coverage {
  display: none;
}

table.files-summary thead {
  background: #999;
  color: white;
}

table.files-summary td {
  border: solid 1px #ddd;
  padding: 4px 10px;
  vertical-align: top;
}

table.files-summary td.identifiers > span {
  display: block;
  margin-top: 4px;
}
table.files-summary td.identifiers > span:first-child {
  margin-top: 0;
}

table.files-summary .coverage-count {
  font-size: 12px;
  color: #aaa;
  display: inline-block;
  min-width: 40px;
}

.total-coverage-count {
  position: relative;
  bottom: 2px;
  font-size: 12px;
  color: #666;
  font-weight: 500;
  padding-left: 5px;
}

table.test-summary thead {
  background: #999;
  color: white;
}

table.test-summary thead .test-description {
  width: 50%;
}

table.test-summary thead .test-count {
  width: 3em;
}

table.test-summary tbody tr:hover {
  background-color: #eee;
}

table.test-summary td {
  border: solid 1px #ddd;
  padding: 4px 10px;
  vertical-align: top;
}

table.test-summary td p {
  margin: 0;
}

table.test-summary tr.test-describe .toggle {
  display: inline-block;
  float: left;
  margin-right: 4px;
  cursor: pointer;
  font-size: 0.8em;
  padding-top: 0.25em;
}

table.test-summary tr.test-describe .toggle.opened:before {
  content: '▼';
}

table.test-summary tr.test-describe .toggle.closed:before {
  content: '▶';
}

table.test-summary .test-target > span {
  display: block;
  margin-top: 4px;
}
table.test-summary .test-target > span:first-child {
  margin-top: 0;
}

.inner-link-active {
  background: rgb(255, 255, 150);
}

/* --- search box --- */

.search-box {
  position: absolute;
  top: 0;
  right: 7px;
  background: url("../image/find.png") no-repeat 7px center;
  background-size: 24px;
  width: 38px; /* 24px + 2 x 7px */
  height: 40px;
  transition: width 0.2s ease-out;
}

.search-input {
  position: relative;
  box-sizing: border-box;
  margin: 8px 7px 0 38px;
  height: 24px;
  border-bottom: 1px solid #0af;
  padding-bottom: 1px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.search-input:before,
.search-input:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  border-left: 1px solid #0af;
}
.search-input:before {
  left: 0;
}
.search-input:after {
  right: 0;
}

.search-input input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 7px;
  border: none;
  background: transparent;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; /* like navbar items */
}

.search-box.active {
  width: 300px;
}
.search-box.active > .search-input {
  opacity: 1;
}

@media (max-width: 480px) {
  .search-box.active {
    width: 200px;
  }
}

.search-result {
  position: absolute;
  top: 36px;
  right: 7px;
  width: 120%;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px  5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 24px;
  font-size: 13px;
  white-space: nowrap;
  overflow: auto;
  opacity: 0.96;
  display: none;
  max-height: 310px; /* designed for @media (min-height: 360px) */
}

.search-result:before {
  content: "no result";
  position: absolute;
  width: 100%;
  text-align: center;
  font-style: italic;
  color: #aaa;
}

@media (min-height: 480px) {
  .search-result {
    max-height: 430px;
  }
}

@media (min-height: 640px) {
  .search-result {
    max-height: 590px;
  }
}

@media (min-height: 768px) {
  .search-result {
    max-height: 718px;
  }
}

.search-result ul {
  position: relative; /* just to cover the "no result" message */
  display: inline-block;
  min-width: 100%;
  padding: 0;
}

.search-result li {
  list-style: none;
  margin: 0;
  padding: 2px 8px;
}

.search-result li a {
  display: block;
}

.search-result li:hover,
.search-result li.selected {
  background-color: #eee;
}

.search-result li.search-separator {
  background: rgb(37, 138, 175);
  color: #fff;
}

.search-result li.search-separator:first-letter {
  text-transform: uppercase;
}

.search-result-import-path {
  margin-left: 0.3em;
  font-size: 12px;
  color: #aaa;
}

/** manual */

.github-markdown .manual-toc {
  padding-left: 0;
}

.manual-index .manual-cards {
  display: flex;
  flex-wrap: wrap;
}

.manual-index .manual-card-wrap {
  width: 280px;
  padding: 10px 20px 10px 0;
  box-sizing: border-box;
}

.manual-index .manual-card-wrap > h1 {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  padding: 0.2em 0 0.2em 0.5em;
  border-radius: 0.1em 0.1em 0 0;
  border: none;
}

.manual-index .manual-card-wrap > h1 span {
  color: #555;
}

.manual-index .manual-card {
  height: 200px;
  overflow: hidden;
  border: solid 1px rgba(230, 230, 230, 0.84);
  border-radius: 0 0 0.1em 0.1em;
  padding: 8px;
  position: relative;
  border-top: none;
}

.manual-index .manual-card > div {
  transform: scale(0.4);
  transform-origin: 0 0;
  width: 250%;
}

.manual-index .manual-card > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(210, 210, 210, 0.1);
}

.manual-index .manual-card > a:hover {
  background: none;
}

.manual-index .manual-badge {
  margin: 0;
}

.manual-index .manual-user-index {
  margin-bottom: 1em;
  border-bottom: solid 1px #ddd;
}

/*.manual-root .navigation {
  padding-left: 4px;
  margin-top: 4px;
}*/

.navigation .manual-toc {
  margin-top: -0.25em;
}

.navigation .manual-toc-root > div {
  padding-top: 1px;
  padding-left: 0.25em;
  padding-right: 0.75em;
}

.github-markdown .manual-toc-title a {
  color: inherit;
}

.manual-breadcrumb-list {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.manual-toc-title a:hover {
  color: #039BE5;
}

.manual-toc li {
  margin: 0.75em 0;
  list-style-type: none;
}

.navigation .manual-toc [class^="indent-h"] a {
  color: #666;
}

.navigation .manual-toc .indent-h1 a {
  color: #555;
  font-weight: 600;
  display: block;
}

.manual-toc .indent-h1 {
  display: block;
  margin: 1em 0 0 0.25em;
  padding: 0.2em 0 0.2em 0.5em;
  border-radius: 0.1em;
}
.manual-toc .indent-h2 {
  display: none;
  margin-left: 1.5em;
}
.manual-toc .indent-h3 {
  display: none;
  margin-left: 2.5em;
}
.manual-toc .indent-h4 {
  display: none;
  margin-left: 3.5em;
}
.manual-toc .indent-h5 {
  display: none;
  margin-left: 4.5em;
}

.manual-color {
  position: relative;
}

.manual-color:after {
  content: attr(data-section-count);
  font-size: 0.5em;
  opacity: 0.5;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.manual-color-overview,
.manual-color-design {
  color: #db001e;
  background-color: #edbec3;
}

.manual-color-installation,
.manual-color-tutorial,
.manual-color-usage,
.manual-color-configuration,
.manual-color-advanced {
  color: #009800;
  background-color: #bfe5bf;
}

.manual-color-example {
  color: #eb6420;
  background-color: #fad8c7;
}

.manual-color-reference {
  color: #6b0090;
  background-color: #d6bdde;
}

.manual-color-faq,
.manual-color-changelog {
  color: #0738c3;
  background-color: #bbcbea;
}

.manual-nav li {
  margin: 0.75em 0;
}

/* github markdown */
.github-markdown {
  font-size: 16px;
}

.github-markdown h1,
.github-markdown h2,
.github-markdown h3,
.github-markdown h4,
.github-markdown h5 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  padding: 0;
}

.github-markdown h1:nth-of-type(1) {
  margin-top: 0;
}

.github-markdown h1 {
  font-size: 2em;
  padding-bottom: 0.3em;
}

.github-markdown h2 {
  font-size: 1.75em;
  padding-bottom: 0.3em;
}

.github-markdown h3 {
  font-size: 1.5em;
  background-color: transparent;
}

.github-markdown h4 {
  font-size: 1.25em;
}

.github-markdown h5 {
  font-size: 1em;
}

.github-markdown ul, .github-markdown ol {
  padding-left: 2em;
}

.github-markdown pre > code {
  font-size: 0.85em;
}

.github-markdown table {
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

.github-markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.github-markdown table th,
.github-markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.github-markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.github-markdown hr {
  border-right: 0;
  border-bottom: 1px solid #e5e5e5;
  border-left: 0;
  border-top: 0;
}

/** badge(.svg) does not have border */
.github-markdown img:not([src*=".svg"]) {
  max-width: 100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
