body {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  margin: 0;
  font-size: 16px;
}

hr {
  border-color: #ccc;
  border-width: 1px;
  border-style: solid none none none;
}

a {
  color: #337ab7;
  text-decoration: none;
}

pre {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 3px;
  font-size: 0.8em;
}

li {
  margin: 4px 0;
}

code {
  padding: 0.2em 0;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

pre code {
  background: transparent;
  padding: 0;
  border-right: 0;
}

table {
  border-collapse: collapse;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table th, table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0 4px 15px;
  border-bottom: solid 1px #E02130;
  background: white;
  font-weight: bold;
}

nav .title {
  color: #E02130;
  font-size: 2em;
}

nav ul {
  display: inline-block;
  padding-left: 0;
  margin: 0 0 0 20px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0 4px;
}

nav ul li a {
  color: black;
}

article.content {
  margin: 80px 20px 20px 20px;
}

h1, h2 {
  color: #E02130;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
  margin-top: 1.5em;
}

footer {
  padding: 60px 20px 30px 0;
  text-align: right;
  border-top: 1px solid #ddd;
  background: #eee;
  color: #888;
  font-size: 12px;
  margin-top: 60px;
}

.inner-link-active {
  background: rgb(255, 255, 150);
}

img.screen-shot {
  max-width: 500px;
  max-height: 500px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.file-path {
  margin-bottom: 4px;
  font-style: italic;
}

.file-path + pre {
  margin-top: 0;
}

@media screen and (min-width: 0px) and (max-device-width: 600px) {
  nav {
    position: static;
  }

  article.content {
    margin-top: 20px;
  }

  img.screen-shot {
    max-width: 280px;
  }
}
