body {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  margin: 0;
  font-size: 16px;
}

hr {
  border-color: #ccc;
  border-width: 1px;
  border-style: solid none none none;
}

a {
  color: #337ab7;
  text-decoration: none;
}

pre {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 3px;
  font-size: 0.8em;
}

li {
  margin: 4px 0;
}

code {
  padding: 0.2em 0;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

pre code {
  background: transparent;
  padding: 0;
  border-right: 0;
}

table {
  border-collapse: collapse;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table th, table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0 4px 15px;
  border-bottom: solid 1px #E02130;
  background: white;
  font-weight: bold;
}

nav .title {
  color: #E02130;
  font-size: 2em;
}

nav ul {
  display: inline-block;
  padding-left: 0;
  margin: 0 0 0 20px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0 4px;
}

nav ul li a {
  color: black;
}

article.content {
  margin: 80px 20px 20px 20px;
}

h1 {
  color: #E02130;
}

.inner-link-active {
  background: rgb(255, 255, 150);
}

img.screen-shot {
  max-width: 500px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
